@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

@theme {
  --font-orbitron: "Orbitron", sans-serif;
  --font-rubik: "Rubik Mono One", sans-serif;
  --font-blackops: "Black Ops One", sans-serif;
  --font-goldman: "Goldman", sans-serif;
  --color-brand-950: #0F172A;
  --color-brand-800: #1E3A5F;
  --color-brand-600: #3B5B7A;
  --color-brand-100: #E2E8F0;
  --color-brand-50: #FFFFFF;
  --color-brand-700: #334155;
}